<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="productCompleteness" type="Dopamedia\ProductCompleteness\Plugin\Product" />
    </type>
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="productCompleteness" type="Dopamedia\ProductCompleteness\Plugin\Product\Action" />
    </type>
    <!--
    <type name="Magento\Store\Model\ResourceModel\Store">
        <plugin name="catalogsearchFulltextIndexerStoreView" type="Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Store\View" />
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Attribute">
        <plugin name="catalogsearchFulltextIndexerAttribute" type="Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Attribute"/>
    </type>
    -->
</config>